API_URL=http://localhost:3000
PORT=8000

MONGO_DB=mongodb+srv://lequochan2003:08052003@moviesrecommendation.773g1.mongodb.net/MoviesRecommendation


# Google App Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
ACCESS_TOKEN_EXPIRE="1h"
REFRESH_TOKEN_EXPIRE="1d"
COOKIE_EXPIRE=900000
RESET_PASSWORD_EXPIRE="5m"

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NWFhMGZlY2FhOTUzOGMxZDdjOTlkZTdiZTNkMTI1NCIsIm5iZiI6MTczMzcxNjk1My4yNzEwMDAxLCJzdWIiOiI2NzU2NmJkOTZlMGJlZDI2NmI3Zjk4N2EiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.aAIpogwhqYM8WB_be3gNdey6Q5gU3od1Uh6n7JzZRkA
TMDB_API_URL=https://api.themoviedb.org/3
